@import 'cropperjs/dist/cropper.min.css' layer(base);

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --livewire-progress-bar-color: var(--color-accent-content) !important;
}

body {
    @apply h-full overflow-hidden bg-zinc-50 dark:bg-zinc-900;
    word-wrap: break-word;
    hyphens: auto;
}

main {
    @apply h-full overflow-y-auto;
}

main > div {
    @apply w-full max-w-7xl;
    margin: 0 auto;
}

.sidebar-nav-button.active {
    @apply bg-white dark:bg-zinc-700 ring-1 ring-zinc-200 dark:ring-zinc-600;
}

.sidebar-nav-button.active svg {
    @apply stroke-(--color-accent-content);
}


/* Flux */

table th,
table td {
    @apply text-base! text-zinc-800! dark:text-white!;
}

table th {
    @apply font-bold!;
}

ui-label,
ui-legend {
    @apply text-sm font-semibold! mb-2! text-zinc-600 dark:text-zinc-300;
}

ui-toast-group {
    @apply mt-[5.5rem]!;
}

.flux-input-rounded-br-md > button,
.flux-input-rounded-br-md > input,
.flux-input-rounded-br-md > ui-pillbox-trigger {
    @apply rounded-none! rounded-br-md!;
}

.breadcrumbs svg {
    @apply text-zinc-400 dark:text-zinc-500;
}

ui-sidebar ui-tooltip > a {
    @apply h-10! -mx-3! w-[calc(100%_+_1.5rem)]!;
}

ui-sidebar ui-tooltip > a > div:last-of-type {
    @apply text-base! font-medium! text-zinc-800 dark:text-white;
}

ui-sidebar ui-tooltip a svg {
    @apply size-6!;
}

ui-modal dialog {
    @apply mx-6 mb-6 sm:m-auto dark:bg-zinc-900!;
}

ui-modal .modal-header {
    @apply mb-6 -mx-6 -mt-6 px-4 py-3 bg-zinc-100 dark:bg-zinc-800 border-b border-zinc-200 dark:border-zinc-700 font-semibold!;
}

ui-modal button {
    @apply -mt-2 -mr-2;
}

/*
nav a {
    @apply text-base!;
}

nav a svg {
    @apply mr-3!;
}
*/

input:disabled {
    @apply bg-zinc-100 dark:bg-zinc-800 cursor-not-allowed;
}

button:disabled {
    @apply cursor-not-allowed!;
}

.breadcrumbs div:last-of-type > div {
    @apply text-zinc-600! dark:text-white/80!;
}

.pagination > div {
    @apply border-zinc-200 dark:border-zinc-700;
}

.pagination > div div {
    @apply text-sm!;
}

.pagination > div > div:last-of-type {
    @apply divide-x divide-zinc-200 dark:divide-zinc-700 p-0;
}

.pagination > div > div:last-of-type div,
.pagination > div > div:last-of-type button {
    @apply text-sm! h-8 px-3 rounded-none;
}

.pagination > div > div:last-of-type button {
    @apply cursor-pointer;
}

.pagination > div > div:last-of-type div[aria-current="page"] {
    @apply bg-zinc-100 dark:bg-zinc-800;
}

@utility public {
  &main > div {
    @apply max-w-6xl mx-auto;
  }
}

@utility infotext {
  main & table {
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  main & table th {
    @apply border border-zinc-400 dark:border-zinc-800 bg-zinc-300 dark:bg-zinc-600 px-3! py-1.5 text-left;
  }

  main & table td {
    @apply border border-zinc-400 dark:border-zinc-800 bg-zinc-100 dark:bg-zinc-700 px-3! py-1.5 min-w-[8rem];
  }

  main & table tr:nth-child(2n + 1) td {
    @apply bg-zinc-100 dark:bg-zinc-700;
  }
}

@utility results-info-box {
  @apply grid grid-cols-[1fr_6.5rem] bg-zinc-100 dark:bg-zinc-800 rounded-md shadow-2xs dark:shadow-md overflow-hidden mb-4 border border-zinc-300 dark:border-zinc-600 dark:text-white;

  & > div:first-of-type {
    @apply pl-4 pr-4 py-2.5 dark:text-white;
  }

  & > div:last-of-type {
    @apply px-3 py-2.5 pr-4 dark:text-white text-right;
  }
}

@utility candidate-box {
  @apply grid grid-cols-[auto_1fr] lg:grid-cols-[auto_2fr_3fr] bg-zinc-50 dark:bg-zinc-800 hover:bg-zinc-100 dark:hover:bg-zinc-700 rounded-md shadow-2xs dark:shadow-md border border-zinc-200 dark:border-zinc-600 overflow-hidden mb-4 dark:text-white border-solid;
  transition: 0.3s ease;

  & > div {
    @apply px-4 py-3 text-black dark:text-white;
  }

  & > div:first-of-type {
    @apply px-4 text-black dark:text-white row-span-2 lg:row-span-1 content-center;
  }

  & > div:nth-of-type(2) {
    @apply pb-2 lg:pb-3;
  }

  & > div:last-of-type {
    @apply px-4 pt-0 lg:pt-3 pr-6 text-black dark:text-white;
  }
}

@utility candidate-box-results {
  @apply grid-cols-[auto_1fr_6.5rem]! lg:grid-cols-[auto_2fr_3fr_9rem_7rem]!;

  & > div:first-of-type {
    @apply row-span-4! lg:row-span-1;
  }

  & > div:nth-of-type(2) {
    @apply col-span-2 lg:col-span-1;
  }

  & > div:nth-of-type(3) {
    @apply col-span-2 lg:col-span-1;
  }

  & > div:nth-of-type(2) {
    @apply pb-1 lg:pb-3;
  }

  & > div:nth-of-type(3) {
    @apply pt-0 pb-2 lg:py-3;
  }

  & > div:nth-of-type(4) {
    @apply pt-0 pb-3 lg:py-3;
  }

  & > div:nth-of-type(5) {
    @apply pt-0 pb-3 lg:py-3;
  }
}

@utility candidate-box-resigned {
  @apply grid-cols-[auto_1fr_6.5rem]! lg:grid-cols-[auto_2fr_3fr_9rem_7rem]!;

  & > div:first-of-type {
    @apply row-span-4! lg:row-span-1;
  }

  & > div:nth-of-type(2) {
    @apply col-span-2 lg:col-span-1;
  }

  & > div:nth-of-type(3) {
    @apply col-span-2 lg:col-span-1;
  }

  & > div:nth-of-type(2) {
    @apply pb-1 lg:pb-3;
  }

  & > div:nth-of-type(3) {
    @apply pt-0 pb-2 lg:py-3;
  }

  & > div:nth-of-type(4) {
    @apply pt-0 pb-3 lg:py-3;
  }

  & > div:nth-of-type(5) {
    @apply pt-0 pb-3 lg:py-3;
  }
}

@utility candidate-number {
  @apply flex -ml-4 -mt-6 -mb-6 pt-3 h-full w-12 shrink-0 justify-center bg-zinc-200 dark:bg-zinc-600 font-bold text-zinc-800 dark:text-white;
}

@utility candidate-data-boxes {
  @apply flex flex-col gap-2 mb-8;

  & > div {
    @apply grid md:grid-cols-[8.5rem_1fr];
  }

  & .box-left {
    @apply bg-zinc-100 dark:bg-zinc-700 px-4 py-2 rounded-t-md md:rounded-t-none md:rounded-l-md border border-zinc-200 dark:border-zinc-600 shadow-2xs dark:shadow-md font-bold;
  }

  & .box-right {
    @apply bg-zinc-50 dark:bg-zinc-800 px-4 py-2 rounded-b-md md:rounded-b-none md:rounded-r-md! border border-t-0 md:border-t md:border-l-0 border-zinc-200 dark:border-zinc-600 shadow-2xs dark:shadow-md;
  }
}

@utility question-answer-box {
  @apply border border-zinc-200 dark:border-zinc-600 rounded-md overflow-hidden shadow-2xs dark:shadow-md;

  & > div:first-of-type {
    @apply bg-zinc-100 dark:bg-zinc-700 px-4 py-2 border-b border-zinc-200 dark:border-zinc-600 font-bold;
  }

  & > div:last-of-type {
    @apply bg-zinc-50 dark:bg-zinc-800 px-4 py-2;
  }

  & > div p:last-of-type {
    @apply mb-0!;
  }
}

@utility card-header {
  @apply bg-zinc-100 dark:bg-zinc-800 px-4 py-2 border border-zinc-200 dark:border-zinc-700 border-b-0 rounded-t-md font-bold dark:text-white;
}

@utility sidebar-nav-button {
  @apply text-zinc-800 dark:text-zinc-50 hover:bg-zinc-200 dark:hover:bg-zinc-700 flex gap-x-3 rounded-md p-2 leading-6 font-semibold transition ease-in-out duration-300 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-700 border-b-0;

  & svg {
    @apply text-zinc-500 dark:text-zinc-300 h-6 w-6 shrink-0;
  }

  &.active {
    @apply bg-sky-700 text-white;
  }

  li.active & {
    @apply bg-sky-700 text-white;
  }

  &.active svg {
    @apply fill-white;
  }

  li.active & svg {
    @apply fill-white;
  }
}

main h1 {
  @apply text-2xl font-bold mb-4!;
}

main h2 {
  @apply text-xl font-bold mt-9 mb-4;
}

main h3 {
  @apply text-lg font-bold mt-9 mb-4;
}

main p {
  margin-bottom: 1rem;
}

.infotext a {
  @apply border-b-2 border-dotted border-sky-700;
}

.infotext a:hover,
.infotext a:focus,
.infotext a:active {
  @apply border-solid;
}

main ul,
main ol {
  margin-bottom: 1rem;
}

main ul li {
  margin-left: 2.25rem;
  list-style-type: disc;
}

main ol li {
  margin-left: 2.25rem;
  list-style-type: decimal;
}
